.ProductsTable table{
    width: 100%;
}

.ProductsTable th{
    background-color:darkmagenta;
    color: #ffffff;
}

.ProductsTable .odd{
    background-color: #ddd;
}

.ProductsTable .even{
    background-color: #ddd;
}